.container{
    display: flex;
    flex-direction: column;
}

.box{
    width: 1024px;
    font-family: sans-serif;
    margin-top: 50px;
    
    align-items: flex-end;
}

.form-group{
    margin-bottom: 5px;
}